*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    --font-color:#000;
    --bg-color:#fff;
    --stroke:#fff;
    --nav-color:#fff;
    --main:rgb(30, 30, 252);
    color: #000 !important;
    background-color: #fff !important;
    margin: 0;
    padding: 0;
}
.custom-nav ,.container-fluid{
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 5000;
    top: 0 !important;
    left: 0;
   font-size: 16px !important;
         font-family: "Poiret One", sans-serif;
font-weight: 600;

    background: none !important;
    border: none !important;
padding: 0px 25px !important;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.dropdown-item{
    padding: 50px;
}
.img-logo{
    width: 60px;
    height: 60px;
}
.btnnav{
    border-radius: 16px;
    border: 1px solid var(--main);
    background-color: #fff;
    margin: 0px 10px;
    padding: 4px 9px;
    font-size: 14px;
    font-family: "Poppins" ,sans-serif;
    text-decoration: none;
}
.btnnav:hover{
    border: none;
    background-color: var(--main);
    color: #fff;
}
.hero{
  
    width: 100%;
position: relative;
    flex-direction: column;
    overflow: hidden;
display: flex;
}
.imgHero{
height: 500px;
width: 100%;
z-index: 1;
    object-fit: cover;
    position: relative;
    filter: blur(1.5px);
    top: 0;
    padding:0;
    margin: 0;

}
.vclinehero{
    width:6px ;
    height: 160px;
    left: 30px;
    z-index: 3000;
    position: absolute;
    background: linear-gradient(to bottom ,rgb(30, 191, 255),violet);
    text-align: left;
    transform: translateY(340px);
}
.hero h1{
     position: absolute;
    z-index: 2000;
    transform: translateY(380px);
text-align: left;
    margin-top: 13px;
        left: 40px;
        color: rgb(30, 191, 255);
font-weight: 600;

 font-size: 60px;
    font-family: "Montserrat";

}
.hero h2{
         position: absolute;
    z-index: 2000;
    transform: translateY(430px);
text-align: left;
    margin-top: 25px;
        left: 40px;
        color: #fff;
font-weight: 600;
font-size: 35px;

    font-family: "Montserrat";
}
.hero h3{
     position: absolute;
    z-index: 2000;
    transform: translateY(360px);
text-align: left;
    margin-top: 6px;
        left: 40px;
        color: #fff;
font-weight: 600;
 
    font-family: "Montserrat;
}
.hero p{
    position: absolute;
    z-index: 2000;
    transform: translateY(330px);
text-align: left;
    margin: 0;
        left: 40px;
        color: #fff;
font-size: 30px;
font-weight: 600;

    font-family: "Montserrat;
}
.hero2{
    justify-content: center;
    text-align: center;
    padding: 50px;
}
.imgcontainer{
width: 40%;
margin: 10px auto;
background-color: #fff;
position: relative;
z-index: 1000;
display: grid;
grid-template-columns: repeat(2,1fr);
border-radius: 10px;
gap: 0;

overflow: hidden;
}
.imgcontainer img{
    width: 100%;
    height: 200px;
    object-fit: cover;
margin: 0;
    z-index: 2000;
 display: block;
    border: 1px solid black;

}
hr{
    background: #000;
}
.hero2 p{
    color: #000;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
      font-family: "Poiret One", sans-serif;
}
.academic{
    padding: 60px;
    text-align: center;
    text-decoration: none;
}
.academic h1{
    margin-bottom: 0px;
    text-align: center;
    font-family: "Marmelad";
}
.academiccontaianer{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card{
    margin-top: 30px;
    align-items: center;
    text-decoration: none;
    gap: 10px;
border: 1px solid rgba(255, 255, 255, 0.5) !important;
background: rgba(255, 255, 255, 0.09) !important;
backdrop-filter: blur(20px) !important;
box-shadow: 0 5px 10px rgb(90, 148, 224)!important;
border-radius: 20px !important;
transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.03);
    
}
.bi.bi-patch-check ,.bi.bi-book , .bi.bi-file-earmark-arrow-down{
    font-size: 50px;
    background:linear-gradient(to bottom ,rgb(30, 191, 255),rgb(228, 53, 228)) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
-webkit-text-fill-color: transparent !important;
    color: transparent !important;
    display: inline-block;
}
.card p{
          font-family: "Poppins";
color: #000 !important;
text-decoration: none !important;
box-shadow: none !important;
border-bottom: none !important;
outline: none !important;
background-image: none !important;
}
a{
    text-decoration: none !important;
}
.gallery{
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.gallery h2{
    font-family: "Marmelad";
  
}
.gallerycontainer{
    display: flex;
    gap: 30px;
    justify-content: center;

    flex-wrap: wrap;
}
.card2 img{
width: 100%;
height: 250px;
width: 250px;
height: 80%;
border-radius: 20px;

object-fit: cover;
}
.card2{
    display: flex;
    flex-direction: column;

    max-width: 450px;
align-items: center;
}

button{

    transition: all 0.3s ease;
}
button:hover{
    
    transform: scale(1.03);
}
.hero-btn{
    z-index: 2;
    margin-top: 20px;
    border-radius: 20px;
        background-color: #d3d2d2;

    border: 2px solid var(--main);
    padding: 5px 15px ;
    font-weight: 500;
}
.hero-btn:hover{
    border: none;
    background-color: var(--main);
    color: #fff;
}

.heroTwo{
    justify-content: center;
    display: flex;
    gap: 100px;
    align-items: center;
margin: 70px 0px;
}
.heroLeft{
width: 50%;

}
.heroLeft p{
    text-align: justify;
    margin-top: 30px;
    flex-wrap: wrap;
    font-family: "poppins", sans-serif;

}
.heroRight img{
    border-radius: 50%;
    height: 240px;
    width: 240px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid var(--main);
}
.slider{
    margin: 120px 0px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
      mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}
.sliderTrack{
    display: flex;
    width: calc(300px*14);
    animation: scroll 35s linear infinite;

}
.sliderTrack:hover{
    animation-play-state: paused;
}
.slideImg{
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 0px;
    flex-shrink: 0;
        border-bottom: 1px solid var(--main);
     border-top: 1px solid var(--main);
}
.slideImg img{
    width: 300px;
    height: 270px;
    object-fit: cover;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}
.container{
    padding: 20px;
}
.card{
    padding: 30px;
}
.btn{
    padding: 5px 10px; 
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--main);
}

.btnscontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    flex-wrap: wrap;
gap: 10px;
}
.btntwo{
    padding: 12px;
    background-color: #ebebeb;
    border: 2px solid rgb(30, 191, 255);
    border-radius: 40px;
    width: 280px;
    color: var(--main);
    margin-bottom: 10px;
    justify-content: center;
    margin: 0 auto;
    font-family: "Montserrat";
    display: flex;
    font-size: 19px;
    flex-direction: column;
}
.btntwo:hover{
        background-color: rgb(30, 191, 255);
    border: none;
    color: #fff;
}
    .booklet2 button{
        border-radius: 20px;
        padding: 3px 9px;
        margin-bottom: 19px;
        font-size: 15px;
        border: 1px solid var(--main);
    }
       .booklet2{
      padding: 50px;
      font-family: "Poppins" ,sans-serif;
      border-radius: 30px;
      box-shadow: 0px 5px 9px rgba(0,0,0,0.1);
      margin: 50px;
      border: 1px solid var(--main);
    }
    .booklet2 h5{
        font-size: 30px;
-webkit-text-stroke: var(--main) 0.3px;
    }
    hr{
        background-color: var(--main);
    }
    .bi.bi-person-circle{
        font-size: 100px;
    }
    .sign{
        text-align: center;
       margin: 0;
       width: 100%;
       min-height: 100vh;
       display: flex;
        background-color: rgb(33, 33, 134);
    }
    .sign p{
        font-family: "poppins";
        margin: 10px;
    }
    .signform{
     display: flex;
     flex-direction: column;
        padding: 18px;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        gap: 10px;

    }
    .signform input{
        border-radius: 30px;
        padding: 8px 5px;
        width: 290px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 5px auto;
        direction: ltr;
        text-align: left;
border: 1px solid var(--main);
    }
    .signform select{
        width: 110px;
        margin: 0 auto;
        cursor: pointer;
        border-radius: 20px;
        padding: 5px 1px;
        border: 1px solid var(--main);
    }
    .signform button{
        width: 130px;
        margin: 10px auto;
      background-color: var(--main);
      color: #fff;
      border: none;
      padding: 6px 0px;
        border-radius: 20px;
    }
    .signpar{
background: rgb(255, 255, 255);
padding: 10px;
margin: 40px auto;
border-radius: 20px;
box-shadow: 0px 10px 15px rgba(0,0,0,0.9);

    }
    .signform label{
margin-bottom: -10px;
padding-bottom: 0;
text-align: left;
margin-left: 10px;
font-family: "montserrat";
    }
    .lastform{
        display: flex;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .log{
        text-align: center;
        align-items: center;
        background-color: rgb(33, 33, 134);
        display: flex;
        min-height: 100vh;

    }
    .logpar{
        background-color: #fff;
        margin: 40px auto;
        border-radius: 30px;
        padding: 20px;
display: flex;
flex-direction: column;
border: 1px solid var(--main);
    }
    .logpar input{
        margin: 8px auto;
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid var(--main);
        width: 290px

    }
    .logpar button{
  
        width: 160px;
        border-radius: 20px;
        border: 1px solid var(--main);
        background-color: var(--main);
        margin: 10px auto;
        color: #fff;
        padding: 2px 0px;
    }
    .logpar form{
        display: flex;
        flex-direction: column;

    }
    .logpar p{
        font-family: "poppins";
    }
    .logpar label{
        direction: ltr;
        text-align: left;
        margin-left: 5px;
        margin-bottom: -8px;
        font-family: "Montserrat";
    }
.results{
    padding: 30px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.results p{
    text-align: left;
    text-decoration: none;

}
.results form{
    display: flex;
    flex-direction: column;
margin: 0 auto;
transform: translateY(50%);

}
.results input{
    width: 300px;
    margin: 10px auto;
    border-radius: 15px;
    border: 1px solid var(--main);
}
.results button{
width: 100px;
margin: 0 auto;
border: 1px solid var(--main);
border-radius: 20px;
padding: 2px 9px;
}
.results label{
    font-family: "Montserrat";
    font-size: 20px;
    
}
.booklet , .results ,.buttons{
    justify-content: center;

    z-index: 1;
  overflow: hidden;
    position: relative;
    min-height: 100vh;
}
.booklet::before ,.results::before ,.buttons::before{
    content: "";
    position: absolute;
        background: url(./assets/ekbal.jpg);
    background-position: center;
    filter: blur(5px);
    background-size: cover;

  
    z-index: -1;
    transform: scale(1.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.booklet h1{
    text-align: center;
font-family: "Montserrat";
z-index: 9000;
position: relative;
}
.hzLine{
    height: 1px;
    width: 90px;
    position: relative;
    background-color: #000;
    text-align: center;
    align-items: center;
    margin: 19px auto;
    margin-bottom: 25px;
    z-index: 900000;
}
.bookletcontainer{
    display: flex;
    justify-content: center;
    gap: 20px;
  
margin-top: 20px;

}
.card h5{
    color: #000;
}
.exs{
    text-align: left;
    font-size: 40px;
    margin-left: 10px;
}
footer{
    background-color: rgb(30, 191, 255) ;
text-align: center;
padding: 20px;
padding-bottom: 5px !important;
}
footer p{
    font-family: "Montserrat";
    color: #fff;
}
@media (max-width:768px) {
    .vclinehero{
        left: 23px;
        height: 130px;
transform: translateY(370px);
    }
    .hero h1{
  font-size:35px;
  margin-top: 43px;
}
  .hero p{
    margin-top: 35px;
    font-size: 19px;
    color: #fff;
  }
  .hero h3{
    margin-top: 33px;
  }
.hero h2{
    font-size: 17px;
    white-space: nowrap;
    margin-top: 40px;
}
  .hero-btn{
    padding:4px  7px;
    width: fit-content;
    font-size: 14px;
  }
    .heroTwo{
        display: flex;
        flex-direction: column;
    gap: 0;
    }
    .heroLeft{
                width: 100%;
                padding: 20px;
                margin-top: 0px;
order: 2;
    }
    .heroLeft p{
        order:2;

    font-size: 12.5px;
    }
    .heroRight img{
width: 185px;
height: 185px;
    }
    .heroRight {
        order: 1;
        margin-top: 20px;
    }
    .hero2{
        justify-content: center;
        margin: 0 auto;
        padding: 30px;
width: 100%;
    }
    
    .imgcontainer{
       width: 100%;
      grid-template-columns: repeat(2,1fr);
      margin: 10px auto;
    }
    .imgcontainer img{
        width: 100%;
               height: 180px;

       object-fit: cover;
       overflow: hidden;

    }
    .imgcontainer p{
        font-size: 18px;
    }
    .academiccontaianer{
        flex-wrap: wrap;
    }
    .bookletcontainer{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-top: 40px;
        transform: translateY(0);
    }
    .btnscontainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .btntwo{
        padding: 10px;
      justify-content: center;
      text-align: center;
      align-items: center;
      max-width: 200px;
      margin-bottom: 10px;
    }
 
    .booklet2 h5{
        font-size: 26px;
    }
.booklet2 button{
    font-size: 12px;
}
.booklet2{
          margin: 28px;

}
.btnnav{
    margin: 0;
}
.signpar{
    margin: 40px  auto;
width: 85%;
}
.signpar input{
    width: fit-content;

}
.signpar label{
text-align: center;
}
.log{
    display: flex;

}
.logpar{
    width: 85%;
    margin: 40px auto;
}
.logpar input{
width: fit-content;

}
.logpar label{
    text-align: center;
}
.lastform p , .lastform a{
font-size: 14px;
}
footer p{
    font-size: 13px;
    
}
}
